$xs: 0px;
$sm: 360px;
$md: 768px;
$lg: 1280px;
$xl: 1440px;

$color-default: #111;
$color-accent-light: #333;



$color-action-main: blue;
$color-action-accent: lighten( $color-action-main, 10% );

.wrap{
  margin: 0 auto;
}

html, body{
  background-color: #ddd;
}

[class^="btn-"].large{
  padding: 20px 15px;;
}
[class^="btn-"].small{
  padding: 10px 5px;;
}

.inactive-action-main,
.active-action-main:hover{
  color: blue;
  background-color: red;
}

.inactive-action-accent,
.active-action-accent:hover{
  color: red;
  background-color: blue;
}

.form{
  &.form-admin{
    .form-collection{
      padding: 10px;
      background-color: white;
      margin-bottom: 10px;
      border: 1px solid #ccc;
    }
    .form-row{

      margin-bottom: 10px;
      padding: 10px;

      display: block;
      overflow: auto;

      background-color: #eee;
      .form-label{
        width: 20%;
        float: left;
        padding: 10px;
        box-sizing: border-box;
        background-color: white;

        .attribute{
          font-weight: bold;
          color: $color-default;
          font-size: 18px;
        }
        .description{
          font-weight: normal;
          color: $color-accent-light;
          font-size: 16px;
        }
      }
      .form-control{
        width: 80%;
        float: left;
        padding: 10px;
        box-sizing: border-box;
        input{
          width: 100%;
          &[type="text"],
          &[type="password"]{
            padding: 10px;
            outline: 0;
            border: 1px solid $color-accent-light;
            color: $color-default;
            background-color: white;
          }
        }
      }
    }
  }
}

@media( min-width: $xs ){
  .wrap{
    width: 100%;
  }
}
@media( min-width: $sm ){
  .wrap{
    width: $sm;
  }
}
@media( min-width: $md ){
  .wrap{
    width: $md;
  }
}
@media( min-width: $lg ){
  .wrap{
    width: $lg;
  }
}
@media( min-width: $xl ){
  .wrap{
    width: $xl;
  }
}

.password-strength{
  .message{
    white-space: pre;
    padding: 10px;
    &:empty{
      display: none;
    }
  }
  .track{
    padding: 0px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }
  .track{
    .section{
      height: 10px;
      display: inline-block;
      width: 20%;
      border: 1px solid #ddd;
      box-sizing: border-box;
      float: left;
    }
  }
  &[data-score="0"]{

    background-color: #ddd;
    color: #f2f2f2;

    .track{
      .section{
        background-color: #f2f2f2;
      }
    }
  }
  &[data-score="1"]{

    background-color: #B8312F;
    color: #f2f2f2;

    .track{
      .section{
        background-color: #B8312F;
        &:nth-child( n + 2 ){
          background-color: #f2f2f2
        }
      }
    }
  }
  &[data-score="2"]{

    background-color: #F37934;
    color: #f2f2f2;

    .track {
      .section{
        background-color: #F37934;
        &:nth-child( n + 3 ){
          background-color: #f2f2f2;
        }
      }
    }
  }
  &[data-score="3"]{

    background-color: #FBA026;
    color: #f2f2f2;

    .track {
      .section{
        background-color: #FBA026;
        &:nth-child( n + 4 ){
          background-color: #f2f2f2;
        }
      }
    }
  }
  &[data-score="4"]{
    background-color: #54ACD2;
    color: #f2f2f2;
    .track {
      .section{
        background-color: #54ACD2;
        &:nth-child( n + 5 ){
          background-color: #f2f2f2;
        }
      }
    }
  }
  &[data-score="5"]{
    background-color: #41A85F;
    color: #f2f2f2;
    .track {
      display: none;
      .section{
        background-color: #41A85F;
      }
    }
  }
}
