$xs: 0px;
$sm: 360px;
$md: 768px;
$lg: 1280px;
$xl: 1440px;

$color-default: #111;
$color-accent-light: #333;



$color-action-main: #3498db;
$color-action-accent: lighten( $color-action-main, 5% );

$color-success-main: #2ecc71;
$color-success-accent: lighten( $color-success-main, 5% );

$color-info-main: #1abc9c;
$color-info-accent: lighten( $color-info-main, 5% );

$color-epic-main: #9b59b6;
$color-epic-accent: lighten( $color-epic-main, 5% );

$color-gray-main: #bbb;
$color-gray-accent: lighten( #bbbbbb, 5% );

$color-fg-dark-main: #555;
$color-fg-dark-accent: darken( $color-fg-dark-main, 5% );

$color-fg-light-main: #f2f2f2;
$color-fg-light-accent: lighten( $color-fg-light-main, 5% );

.wrap{
  margin: 0 auto;
}

html, body{
  background-color: #ddd;
}
// [class^='btn-']{
.btn{
  padding: 10px 15px;
  &.large{
    padding: 15px 20px;
  }
  &.small{
    padding: 5px 10px;
  }
  &.flat{
    border-width: 1px;
    border-style: solid;
  }
}

.inactive-action-main,
.active-action-main:hover{
  color: $color-fg-light-main;
  background-color: $color-action-main;
  border-color: $color-action-main;
}

.inactive-action-accent,
.active-action-accent:hover{
  color: $color-fg-light-accent;
  background-color: $color-action-accent;
  border-color: $color-action-accent;
}

.inactive-action-flat-main,
.active-action-flat-main:hover{
  background-color: transparent;
  color: $color-action-main;
  border-color: $color-action-main;
}

.inactive-action-flat-accent,
.active-action-flat-accent:hover{
  background-color: transparent;
  color: $color-action-accent;
  border-color: $color-action-accent;
}

.inactive-success-main,
.active-success-main:hover{
  color: $color-fg-light-main;
  background-color: $color-success-main;
  border-color: $color-success-main;
}

.inactive-success-accent,
.active-success-accent:hover{
  color: $color-fg-light-accent;
  background-color: $color-success-accent;
  border-color: $color-success-accent;
}

.inactive-success-flat-main,
.active-success-flat-main:hover{
  background-color: transparent;
  color: $color-success-main;
  border-color: $color-success-main;
}

.inactive-success-flat-accent,
.active-success-flat-accent:hover{
  background-color: transparent;
  color: $color-success-accent;
  border-color: $color-success-accent;
}

.inactive-info-main,
.active-info-main:hover{
  color: $color-fg-light-main;
  background-color: $color-info-main;
  border-color: $color-info-main;
}

.inactive-info-accent,
.active-info-accent:hover{
  color: $color-fg-light-accent;
  background-color: $color-info-accent;
  border-color: $color-info-accent;
}

.inactive-info-flat-main,
.active-info-flat-main:hover{
  background-color: transparent;
  color: $color-info-main;
  border-color: $color-info-main;
}

.inactive-info-flat-accent,
.active-info-flat-accent:hover{
  background-color: transparent;
  color: $color-info-accent;
  border-color: $color-info-accent;
}

.inactive-epic-main,
.active-epic-main:hover{
  color: $color-fg-light-main;
  background-color: $color-epic-main;
  border-color: $color-epic-main;
}

.inactive-epic-accent,
.active-epic-accent:hover{
  color: $color-fg-light-accent;
  background-color: $color-epic-accent;
  border-color: $color-epic-accent;
}

.inactive-epic-flat-main,
.active-epic-flat-main:hover{
  background-color: transparent;
  color: $color-epic-main;
  border-color: $color-epic-main;
}

.inactive-epic-flat-accent,
.active-epic-flat-accent:hover{
  background-color: transparent;
  color: $color-epic-accent;
  border-color: $color-epic-accent;
}

.inactive-gray-main,
.active-gray-main:hover{
  color: $color-fg-dark-main;
  background-color: $color-gray-main;
}

.inactive-gray-accent,
.active-gray-accent:hover{
  color: $color-fg-dark-accent;
  background-color: $color-gray-accent;
}

.inactive-gray-flat-main,
.active-gray-flat-main:hover{
  background-color: transparent;
  color: $color-gray-main;
  border-color: $color-gray-main;
}

.inactive-gray-flat-accent,
.active-gray-flat-accent:hover{
  background-color: transparent;
  color: $color-gray-accent;
  border-color: $color-gray-accent;
}

.form{
  &.form-admin{
    .form-collection{
      padding: 10px;
      background-color: white;
      margin-bottom: 10px;
      border: 1px solid #ccc;
    }
    .form-row{

      margin-bottom: 10px;
      padding: 10px;

      display: block;
      overflow: auto;

      background-color: #eee;
      .form-label{
        width: 20%;
        float: left;
        padding: 10px;
        box-sizing: border-box;
        background-color: white;

        .attribute{
          font-weight: bold;
          color: $color-default;
          font-size: 18px;
        }
        .description{
          font-weight: normal;
          color: $color-accent-light;
          font-size: 16px;
        }
      }
      .form-control{
        width: 80%;
        float: left;
        padding: 10px;
        box-sizing: border-box;
        input{
          width: 100%;
          &[type="text"],
          &[type="password"]{
            padding: 10px;
            outline: 0;
            border: 1px solid $color-accent-light;
            color: $color-default;
            background-color: white;
          }
        }
      }
    }
  }
}

@media( min-width: $xs ){
  .wrap{
    width: 100%;
  }
}
@media( min-width: $sm ){
  .wrap{
    width: $sm;
  }
}
@media( min-width: $md ){
  .wrap{
    width: $md;
  }
}
@media( min-width: $lg ){
  .wrap{
    width: $lg;
  }
}
@media( min-width: $xl ){
  .wrap{
    width: $xl;
  }
}

.password-strength{
  .message{
    white-space: pre;
    padding: 10px;
    &:empty{
      display: none;
    }
  }
  .track{
    padding: 0px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
  }
  .track{
    .section{
      height: 10px;
      display: inline-block;
      width: 20%;
      border: 1px solid #ddd;
      box-sizing: border-box;
      float: left;
    }
  }
  &[data-score="0"]{

    background-color: #ddd;
    color: #f2f2f2;

    .track{
      .section{
        background-color: #f2f2f2;
      }
    }
  }
  &[data-score="1"]{

    background-color: #B8312F;
    color: #f2f2f2;

    .track{
      .section{
        background-color: #B8312F;
        &:nth-child( n + 2 ){
          background-color: #f2f2f2
        }
      }
    }
  }
  &[data-score="2"]{

    background-color: #F37934;
    color: #f2f2f2;

    .track {
      .section{
        background-color: #F37934;
        &:nth-child( n + 3 ){
          background-color: #f2f2f2;
        }
      }
    }
  }
  &[data-score="3"]{

    background-color: #FBA026;
    color: #f2f2f2;

    .track {
      .section{
        background-color: #FBA026;
        &:nth-child( n + 4 ){
          background-color: #f2f2f2;
        }
      }
    }
  }
  &[data-score="4"]{
    background-color: #54ACD2;
    color: #f2f2f2;
    .track {
      .section{
        background-color: #54ACD2;
        &:nth-child( n + 5 ){
          background-color: #f2f2f2;
        }
      }
    }
  }
  &[data-score="5"]{
    background-color: #41A85F;
    color: #f2f2f2;
    .track {
      display: none;
      .section{
        background-color: #41A85F;
      }
    }
  }
}
